PORT=4000
DB_NAME_CLEVER=your_database_name
DB_USER_CLEVER=your_database_user
DB_HOST_CLEVER=localhost
DB_PASSWORD_CLEVER=your_database_password
DB_PORT_CLEVER=3306
SECRET_KEY="your_secret_key"
ODOO_URL=https://your-odoo-instance.com
ODOO_DB=your_odoo_database_name
ODOO_USER=your_odoo_email@example.com
ODOO_API_KEY=your_odoo_api_key
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Uncomment and fill these values when using Clever Cloud MySQL
# DB_NAME_CLEVER='your_clever_cloud_db_name'
# DB_USER_CLEVER='your_clever_cloud_db_user'
# DB_HOST_CLEVER='your_clever_cloud_db_host'
# DB_PASSWORD_CLEVER='your_clever_cloud_db_password'
# DB_PORT_CLEVER='3306'
